.about-text {
    margin-top: 20px;
}

.about-text p {
    font-size: 20px;
    margin-bottom: 2px;
}

.logo-wrapper {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.logo-wrapper p {
    margin-top: 50px;
}

.logo {
    animation: logo-spin infinite 20s linear;
    height: 200px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}