.podcast-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    padding: 5px
}

.podcast-list-item-icon-container {
    flex: 1;
    margin: auto;
}

.podcast-list-item-text-container {
    margin-left: 15px;
    flex: 7;
    display: flex;
    flex-direction: column;
}

.selected-podcast {
    background-color: #eeeeee;
}