.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-header {
    padding: 5px;
    background-color: #eeeeee;
    color: white;
}

.navigation-bar-link {
    color: #ff815a;
}

@media screen and (max-width: 780px) {
    .app-content {
        padding: 10px;
    }
}

.mdl-layout__header-row {
    padding-left: 10px;
}
